@import "css/menu.css";
@import "css/footer.css";

*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration: none !important;
	color:#6A6A6A !important;
}

p{
	margin:0px;
	font-family:'Roboto', sans-serif;
	font-size:15px;
	color:#6A6A6A;
}

h2{
  font-size:25px;
  font-weight: 500;
  font-family:'Roboto', sans-serif;
	color:#6A6A6A;
	line-height: 0.5;
}

.back_item{
display:inline-block;
}


.tech_box{
width:930px;
margin:auto;
padding-top:20px;
}

.dot:before{
	content: url(about/dot.png);
}


.inline_block{
display:inline-block;
}

.content{
	width:930px;
	margin:auto;
	padding-top:20px;
	padding-bottom:60px;
}

.sub_menu{
  display:none;
  float:right;
}


.sub_menu li{
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  font-family:'Roboto', sans-serif;
  font-size:10px;
  padding-bottom:0px;
}

.sub_menu li:hover{
  border-bottom:2px solid #23B2E7;
  padding-bottom:0px;
  cursor:pointer;
}

.menu_active, .sm_li_active{
  border-bottom:2px solid #23B2E7;
}

.sm_li_active, .sm_active{
  display:inline-block;
}

.bg_text{
  border-radius:5px;
  background:#F5F5F5;
  padding:35px;
  /* height:400px; */
}

.slider_main{
border-radius:5px;
height:250px;
background-color:#F5F5F5;
margin-top:30px;
}

.title_item{
	margin-top:50px;
	/* padding-bottom:10px; */
	border-bottom:1px solid rgba(35, 178, 231, 0.2);
}

.more{
	font-family:'Roboto', sans-serif;
	font-size:15px;
	color:#23B2E7;
}

.tbl_documents {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px dotted #cdcdcd;
	border-left: 1px dotted #cdcdcd;
}

.tbl_documents td{
	padding: 0px;
	margin: 0px;
	border-top: 1px dotted #cdcdcd;
	border-right: 1px dotted #cdcdcd;
	padding: 15px;
}

.tbl_documents td.ico{
	min-width: 100px; 
	text-align: center; 
	vertical-align: middle;
}
.tbl_documents td.ico:hover{
	background: #e6e6e6;
	cursor: pointer;
}

.lightTable td{
	border: 1px dotted #cdcdcd !important;
}